<!--
  ~ Copyright (c) 2015. Ben O'Halloran/Pseudo Sudo Studios.
  ~ All rights reserved.
  ~ This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ~ Full license can be found here: http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pseudosudostudios.squarescore">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
        >

    </application>

</manifest>
